
input-base()
	vertical-align: top
	box-sizing: border-box
	padding var-padding
	border-radius var-border-radius
	margin var-margin
	height var-height
	font-size: var-font-size
	font-family: "Source Sans", helvetica, arial, sans-serif
	font-weight: var-font-weight
	outline: none
